
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!">Featur 1</a>
            <a class="navbar-brand" href="#!">Featur 1</a>
            <a class="navbar-brand" href="#!">Featur 1</a>
            <a class="navbar-brand" href="#!">Featur 1</a>
        </div>
    </nav>
